@media (max-width: 1199.98px) {
	.body-advanced {
		&__link {
			font-size: 18px;
		}
	}
}
@media (max-width: 991.98px) {
	.advanced {
		&__header {
			display: none;
		}
		&__content {
			padding: 30px 0px 0px 0px;
			margin: 0;
		}
		&__link{
			display: none;
		}
	}
}

@media (max-width: 767.98px) {
	.advanced {
		&__body {
			display: none;
		}
		&__images {
			flex: 1 1 100%;
			padding: 0;
		}

		&__container {
			max-width: 100%;
		}

	}
	.images-advanced {
		text-align: center;
		&__mainslide {
			text-align: center;
		}
		&__icon {
			position: static;
			margin: 15px 0px 0 0;

		}
		&__subslider {
			display: none;
		}
	}
	.body-advanced {
		&__button {
			width: 100%;
		}
	}
}

@media (max-width: 575.98px) {
}
@media (any-hover: hover) {
}
