@media (max-width: 1199.98px) {
	.main {
		&__body {
			display: block;
		}
		&__column {
			&:first-child {
				padding: 0px 45px;
				margin: 0px 0px 30px 0px;
				text-align: center;
			}
		}
	}
	.social-main {
		justify-content: center;
	}
}
@media (max-width: 991.98px) {
	.main {
		padding: 80px 0px 0px 0px;
		&__subtitle {
			display: block;
		}
		&__title,
		&__text,
		&__link {
			display: none;
		}
		&__body {
			display: block;
		}
	}
	.box {
		&__column {
			flex: 0 0 50%;
		}
	}
	.social-main {
		justify-content: center;
		> * {
			margin: 0px 20px;
		}
		&__face{
			display: none;
		}
	}
}
@media (max-width: 767.98px) {
	.main {
		padding: 80px 0px 0px 0px;
		&__subtitle {
			margin: 0px 0px 20px 0px;
		}
	}
	.box {
		&__column {
			margin: 0px 0px 20px 0px;
		}
		&__row {
			padding: 0px 20px;
		}
	}
}

@media (max-width: 575.98px) {
	.item-box {
		&__icon {
			display: none;
		}
		&__title {
			font-size: 16px;
		}
		// &__img{
		// 	padding: 0px 0px 80% 0px;
		// }
	}
	.main {
		&__subtitle {
			max-width: 257px;
			margin: 0px auto 10px auto;
		}
	}
	.box {
		&__row {
			padding: 0px 30px;
		}
	}
}
@media (max-width: 410.98px) {
	.social-main {
		&__info {
			margin: 0px 0px 0px 20px;
		}
		&__face {
			margin: 0px 20px;
		}
	}
}
@media (any-hover: hover) {
	.social-main {
		&__inst {
			&:hover {
				transform: scale(1.1);
			}
		}
		&__face {
			&:hover {
				transform: scale(1.1);
			}
		}
		&__text {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	.box {
		&__item {
			&:hover {
				transform: scale(1.02);
			}
		}
	}
}
